html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.board {
  margin-bottom:10px;
}

.cell {
  display: inline-block;
  height: 49px;
  width : 49px;
  background-color : white;   
  border:solid 1px;
  border-spacing :0px;
  padding:0px;
  margin:0px
}

.white {
  background-color : white;   
}

.black {
  background-color : black;   
}

.available {
  background-color : cyan;   
}

.piece {
 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin:auto;
    margin-top: 5px; 
}

.gray {  
    background-color: gray;  
}

.red {
    background-color: red;
}

.selected {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin:auto;
  margin-top: 5px;
  border-width: 3px;
  background-color: yellow;
  z-index: 10;
}